<div class="card col-6 mx-auto mt-5 bg-info-subtle border-0">
  <div class="card-body">
    <form
      [formGroup]="todoForm"
      (ngSubmit)="addTodo()"
      class="d-flex justify-content-center gap-3"
    >
      <div class="mb-3 col-5">
        <label for="exampleInputEmail1" class="form-label">Todo Name :</label>
        <input
          formControlName="todoName"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3 col-5">
        <label for="exampleInputEmail1" class="form-label">Date : </label>
        <input formControlName="date" type="text" class="form-control" />
      </div>
      <button
        type="submit"
        [disabled]="!todoForm.valid"
        class="btn btn-success"
      >
        Submit
      </button>
    </form>
  </div>
</div>
